

body{
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-container{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
 
.well-style{
    color: grey;
    background-color: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTrLAgWASdZ9DNAKoye1peuV0MWrKa_rVk-kW2SgClV5lhOtzG0dw");
    background-size: cover;

}
